<nav class="navbar bg-info text-white">
  <div class="row container-fluid">
    <div class="col-lg-2 col-xs-5 col-sm-5 col-md-2 text-center" style="font-size: .8em;">
      <span>
        <i class="fa fa-phone" aria-hidden="true"></i>
        079-27642679
      </span>
    </div>
    <div class="col-lg-3 col-xs-5 col-sm-5 col-md-3 text-center email" style="font-size: .8em;">
      <a href="mailto:shahmanthan0112@gmail.com?Subject=Reg: query">
      <span class="text-white">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        shahmanthan0112@gmail.com
      </span>
      </a>
    </div>
    <div class="col-lg-5 col-md-5 text-center text-white" style="font-size: .8em;">
      <a href="https://goo.gl/maps/euWUskgHBp5VkkoTA">
      <span style="color: white">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        201-garud appartment,Jodhpur Cross Road,Ahemdabad-15
      </span>
      </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 justify-content-center">
      <button class="btn text-white sign_btn" data-toggle="modal" data-target="#v_modal" style="font-size: .8em;">Sign in</button>
    </div>
  </div>

  <div class="row container-fluid nav2 mt-1 pb-0">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center"></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center active"
     style="font-size: 2vw; font-family: 'fantacy'; text-decoration: none;"
     >
        <a routerLink = "/home" >
         <p class="mb-0 mt-1">Home</p>
        </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center" 
    style="font-size: 2vw; font-family: 'fantacy'; text-decoration: none;">
    <a routerLink = '/services'>
      <p class="mb-0 mt-1 text-white">
        Service</p></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center" 
    style="font-size: 2vw; font-family: 'fantacy'; text-decoration: none;">
    <a  routerLink = '/contact'>
      <p class="mb-0 mt-1 text-white">
        Contact us</p></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center" 
    style="font-size: 2vw; font-family: 'fantacy'; text-decoration: none;">
    <a routerLink = '/book'>
      <p class="mb-0 mt-1 text-white">Book Now</p></a></div>
    
  </div>
</nav>