<div id="menu" class="container-fluid bg-info text-white" style="opacity: 0.4;height: 500px;"> 
  <div class="container-fluid text-white text-center mb-3">
    <h1 style="font-family: 'fantasy'; ">Our Services</h1>
  </div>
 
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" 
      style="font-size: 1rem;font-family: 'fantacy';">
        <app-service-list [ser]="'hair'" [hair]="hair">

        </app-service-list>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" 
      style="font-size: 1rem;font-family: 'fantacy';">
        <app-service-list [ser]="'Nails'" [hair]="nail">

        </app-service-list>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" 
      style="font-size: 1rem;font-family: 'fantacy';">
        <app-service-list [ser]="'Spa'" [hair]="spa">

        </app-service-list>
      </div>

  </div>

</div> 
